@model PortPermalinkViewModel

@{
    ViewBag.Title = "Port scan";
    ViewBag.MetaDescription = "Free distributed online port scan service. Probe a server or host for open ports.";
}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/portscan">Port scan</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Port scan
            </h2>
            <small>Probe a server or host for open ports.</small>
        </div>
    </div>
</div>

@if (Model != null && Model.Id != 0)
{
    @Html.Raw((Html.AntCreateStandardPanel("hgreen", "Portscan report summary",
"<div class='text-center'>" +
"<a style='display:none' class='pdfexportpage'>Download as PDF" + "</a>" +
"<p>" + "Created on: " + Model.DateCreated + "</p>" +
"<p>" + "Share this permalink: <a href='" + Context.Request.Url.ToString() + "' target='_blank'>" + Context.Request.Url.ToString() + "</a></p>" +
"<div>")))
}



@Html.Partial("_Addresses", new AddressViewModel()
{
    ButtonId = "btnPortScan",
    ButtonText = "Port scan",
    DefaultDestinationAddress = Model?.DestinationAddress,
    PanelTitle = "IP address or host name",
    OnlyWellknownPorts = true
}
)

@if (Model != null && Model.Id != 0)
{

    @Html.Raw((Html.AntCreateStandardPanel("hyellow", "Portscan results", "<p>" +
Html.Kendo().Grid<PortResponseSummaryViewModel>()
.Name("portResultsGrid")
.NoRecords("No open ports have been found!")
.Columns(columns =>
{
    columns.Bound(c => c.PortNumber).Title("TCP port");
    //columns.Bound(c => c.Protocol);
    columns.Bound(c => c.Service);
    columns.Bound(c => c.State);
})
.Pageable()
.Sortable()
.Scrollable(s => s.Enabled(false))
.ToolBar(t =>
{
    t.Excel().Text(string.Empty);
    t.Pdf().Text(string.Empty);
})
.Excel(e =>
e.AllPages(true).FileName("portExportHistory(www.toolsfornet.com).xlsx").ProxyURL(Url.Action("Excel", "Export"))

.Filterable(true)
.ProxyURL(Url.Action("Excel", "Export"))
)
.Pdf(e => e.AllPages().FileName("portExportHistory(www.toolsfornet.com).pdf").ProxyURL(Url.Action("Pdf", "Export")))
.DataSource(dataSource => dataSource
.Ajax()
.ServerOperation(false)

)
.BindTo(Model?.PortResponseSummaries)
.Deferred().ToHtmlString() + "</p>")))

}
    @*history*@

    @Html.Raw((Html.AntCreateStandardPanel("hviolet", "Port scan history for current user's IP", "<p>" +
Html.Kendo().Grid<PortPermalinkViewModel>().CreatePortscanPermalinkGrid(Url).ToHtmlString() + "</p>")))

    @if (Model != null && Model.Id != 0)
    {
        <script>
            function getRequestedAddress() {
                var data = {
                    address: $("#ip").val()
                };
                return data;
            }
        </script>

        @Html.Raw((Html.AntCreateStandardPanel("hviolet", "Port scan history for " + Model.DestinationAddress, "<p>" +
Html.Kendo().Grid<PortPermalinkViewModel>().CreatePortscanPermalinkGrid(Url, "getRequestedAddress").ToHtmlString() + "</p>")))

    }

    <script>
        function getAllPermalinks() {
            var data = {
                allPermalinks: true
            };
            return data;
        }
    </script>
    @Html.Raw((Html.AntCreateStandardPanel("hviolet", "Port scan for the last 100 addresses", "<p>" +
Html.Kendo().Grid<PortPermalinkViewModel>().CreatePortscanPermalinkGrid(Url, "getAllPermalinks").ToHtmlString() + "</p>")))

<div id="all">
    @Html.Raw((Html.AntCreateStandardPanel("hviolet", "Port scan for all addresses", "<p>" +
Html.Kendo().Grid<PortPermalinkViewModel>().CreatePortscanPermalinkGrid(Url, "getAllPermalinks", true)
.ToHtmlString() + "</p>")))
</div>
    <div class="normalheader transition animated fadeIn">
    </div>

    @section scripts {

        <script src="~/scripts/viewsjs/portscanindex.js"></script>

@if (Model?.ForcePortScan == true)
{
    <script>
        setTimeout(function f() {
            $("#btnPortScan").click();
        }, 500);
        
    </script>
}
    }





@Html.Raw((Html.AntCreateStandardPanel("hviolet", "<span id='wnp'>Wellknown TCP ports</span><p class='text-center'>Based on <a rel='nofollow' href='http://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml'>RFC6335</a></p>", "<p>" +
Html.Kendo().Grid<WellKnownPortViewModel>().CreateWellKnownPortGrid(Url).ToHtmlString() + "</p>")))
