@model PingPermalinkViewModel



<div class="col-lg-12">
    <div class="hpanel hgreen">
        <div class="panel-body">
            <p>
                <input type="text" class="form-control" id="ip" value="@(Model?.Ip)" placeholder="Host name or IPv4/6">
            </p>
            <p>
                <button type="button" class="btn center-block btn-outline btn-default" id="btnPing">Ping</button>
            </p>
        </div>
    </div>
</div>



<div class="well">
    @(Html.Kendo().Grid<PingResponseSummaryViewModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.MaxRtt);
                    columns.Bound(c => c.MinRtt);
                    columns.Bound(t => t.AvgRtt);
                })
                .Scrollable(s => s.Enabled(false))
                .ToolBar(t =>
                {
                    t.Excel().Text(string.Empty);
                    t.Pdf().Text(string.Empty);
                })
                .Excel(e => e.FileName("pingExport(www.toolsfornet.com).xlsx"))
                .Pdf(e => e.AllPages().FileName("pingExport(www.toolsfornet.com).pdf"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)

                ).BindTo(Model?.PingResponseSummaries).Deferred()

    )
</div>
<div class="well">
    <div id="map" style="width:100px;height: 10px"></div>
</div>

@section scripts {
    @if (Model != null)
    {
        <script>
            var ips = [];
            ips[0] = '@Model.Ip';
            ips[1] = '@Model.PingResponseSummaries[0].SourceAddress';

            $.ajax({
                method: "POST",
                url: "/home/googlemapfromips",
                data: { ips: ips },
                success: function f(gmData) {
                    $("#map").height("300px");
                    eval(gmData);
                }
            });
        </script>
    }


    @if (Model != null)
    {
        <div class="well" id="divPingPermalink">
            Permalink to this ping tests:
            @(
        Html.Kendo().TextBox().Name("tbPingPermalink").Value(Request.Url.ToString()).HtmlAttributes(new { style = "width: 100%;" }).Deferred()
            )
        </div>
    }


    <script type="text/javascript">

        $("#btnPing").click(function btnPingClick(e) {
            e.preventDefault();

            $.ajax({
                method: "POST",
                url: "/ping/GenerateId",
                data: {
                    ip: $("#ip").val(),
                    packetsCount: $("#tbPacketsCount").val(),
                    packetsSize: $("#tbPacketsSize").val(),
                    delayBetweenPings: $("#tbDelayBetweenPings").val(),
                    ttl: $("#tbTTL").val(),
                    df: $('#cbDontFragment').is(':checked')
                },
                success: function f(id) {
                    debugger;
                    window.location.href = "ping?id=" + id;

                }
            })

        });
        $("#ip").keyup(function myfunction(eventData) {
            if (eventData.keyCode == 13) {
                $("#btnPing").click();
            }

        });

    </script>
}
