@model PingPermalinkViewModel

@{
    ViewBag.Title = "| Ping";
    ViewBag.MetaDescription = "Distributed web-based ping service. Ping simultaneously from many locations accross the Globe to check if a host is online and how long it takes for packets to reach it.";
}
<div class="normalheader transition animated fadeIn">

</div>
<div class="col-lg-12">
    <div class="hpanel hgreen">
        <div class="panel-heading">

            <p class="text-center">
                Ping an IP address or host name
            </p>

        </div>
        <div class="panel-body">
            @*<p>
                <input type="text" class="k-textbox" id="ip" value="@(Model != null ? Model.DestinationAddress : "facebook.com")" placeholder="Host name or IPv4/6">
            </p>*@
            @*<p class="text-center">
                @(Html.Kendo().AutoComplete()
          .Name("ip")
          .DataTextField("Name")
          //.DataValueField("Name")
          .MinLength(1)
          .HtmlAttributes(new { style = "width:100%;" })
          .Height(400)
           .Filter("contains")
          .DataSource(source => source
              .Custom()
              .Group(g => g.Add("Category", typeof(string)))
              .Transport(transport => transport
                .Read(read =>
                {
                    read.Action("ReadAddressesToPing", "Ping");
                }))
                .ServerFiltering(false)
                ).Deferred()
                )
                <input type="checkbox" id="showInHistory" class="k-checkbox" checked="checked">
                <label class="k-checkbox-label" for="showInHistory">Save in history</label>
            </p>*@
            @*<p class="text-center">
                    <input type="checkbox" id="showInHistory" class="k-checkbox" checked="checked">
                    <li>
                        @(Html.Kendo().CheckBox().Name("eq1").Checked(true).Label("Rear side airbags"));
                    </li>
                    <label class="k-checkbox-label" for="showInHistory">Save in history</label>
                </p>*@
            <p>
                <div class="demo-section k-content">
                    @(Html.Kendo().CheckBox()
                    .Name("showInHistory")
                    .Checked(true)
                    .Label("Save in history"))
                </div>
                <button type="button" class="ladda-button btn center-block btn-outline btn-success" id="btnPing" data-style="zoom-in">
                    <span class="ladda-label">Ping</span>
                    <span class="ladda-spinner"></span>
                </button>
            </p>
            <p>
                @(Html.Kendo().ProgressBar()
                  .Name("loadingProgressBar")
                  .Orientation(ProgressBarOrientation.Horizontal)
                  .ShowStatus(true)
                  .Animation(true)
                  .HtmlAttributes(new { style = "display:none;width:100%" })
                  .Deferred()
                )
            </p>
        </div>
    </div>
</div>





@if (Model != null)
{
    <div class="col-lg-12">
        <div class="hpanel hyellow">
            <div class="panel-heading">
                <p class="text-center">
                    Round-trip times in ms
                </p>
            </div>
            <div class="panel-body">
                <p>
                    @(Html.Kendo().Grid<PingResponseSummaryViewModel>()
        .Name("pingResultsGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.SourceHostName).Title("Origin");
            columns.Bound(c => c.DestinationIpAddress).Title("Dest");
            if (!Model.IsDestinationIpAddress)
            {
                columns.Bound(c => c.DestinationHostName).Title("Host");
            }

            columns.Bound(c => c.MaxRtt).Title("Max");
            columns.Bound(t => t.AvgRtt).Title("Avg").Format("{0:n0}");
            columns.Bound(c => c.MinRtt).Title("Min");
        })
        .Scrollable(s => s.Enabled(false))
        .ToolBar(t =>
        {
            t.Excel().Text(string.Empty);
            t.Pdf().Text(string.Empty);
        })
        .Excel(e => e.AllPages(true).FileName("pingExportHistory(www.toolsfornet.com).xlsx").ProxyURL(Url.Action("Excel", "Export")))
        .Pdf(e => e.AllPages().FileName("pingExportHistory(www.toolsfornet.com).pdf").ProxyURL(Url.Action("Pdf", "Export")))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Sort(s => s.Add(ss => ss.AvgRtt))
            .ServerOperation(false)

        )
        .Sortable()
        .BindTo(Model?.PingResponseSummaries)
        .Deferred()

                    )
                </p>

            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="col-lg-12">
        <div class="hpanel hred">
            <div class="panel-heading">
                <p class="text-center">
                    Ping chart
                </p>
            </div>
            <div class="panel-body">
                <p>
                <button type="button" class="ladda-button btn center-block btn-outline btn-success" id="btnPing" data-style="zoom-in">
                    <span class="ladda-label">Ping</span>
                    <span class="ladda-spinner"></span>
                </button>
            </p>
            <p>
                @(Html.Kendo().ProgressBar()
                  .Name("loadingProgressBar")
                  .Orientation(ProgressBarOrientation.Horizontal)
                  .ShowStatus(true)
                  .Animation(true)
                  .HtmlAttributes(new { style = "display:none;width:100%" })
                  .Deferred()
                )
            </p>
        </div>
    </div>
</div>





@if (Model != null)
{
    <div class="col-lg-12">
        <div class="hpanel hyellow">
            <div class="panel-heading">
                <p class="text-center">
                    Round-trip times in ms
                </p>
            </div>
            <div class="panel-body">
                <p>
                    @(Html.Kendo().Grid<PingResponseSummaryViewModel>()
        .Name("pingResultsGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.SourceHostName).Title("Origin");
            columns.Bound(c => c.DestinationIpAddress).Title("Dest");
            if (!Model.IsDestinationIpAddress)
            {
                columns.Bound(c => c.DestinationHostName).Title("Host");
            }

            columns.Bound(c => c.MaxRtt).Title("Max");
            columns.Bound(t => t.AvgRtt).Title("Avg").Format("{0:n0}");
            columns.Bound(c => c.MinRtt).Title("Min");
        })
        .Scrollable(s => s.Enabled(false))
        .ToolBar(t =>
        {
            t.Excel().Text(string.Empty);
            t.Pdf().Text(string.Empty);
        })
        .Excel(e => e.AllPages(true).FileName("pingExportHistory(www.toolsfornet.com).xlsx").ProxyURL(Url.Action("Excel", "Export")))
        .Pdf(e => e.AllPages().FileName("pingExportHistory(www.toolsfornet.com).pdf").ProxyURL(Url.Action("Pdf", "Export")))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Sort(s => s.Add(ss => ss.AvgRtt))
            .ServerOperation(false)

        )
        .Sortable()
        .BindTo(Model?.PingResponseSummaries)
        .Deferred()

                    )
                </p>

            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="col-lg-12">
        <div class="hpanel hred">
            <div class="panel-heading">
                <p class="text-center">
                    Ping chart
                </p>
            </div>
            <div class="panel-body">
                <p>
                    @(Html.Kendo().Chart(Model.PingResponseSummaries.OrderBy(s => s.AvgRtt)).Theme("fiori")
        .Name("pingResultsChart")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )

        .Series(series =>
        {
            series.Column(model => model.MaxRtt).Name("MaxRtt");
            series.Column(model => model.AvgRtt).Name("AvgRtt");
            series.Column(model => model.MinRtt).Name("MinRtt");
        })
        .CategoryAxis(axis => axis
            .Categories(model => model.SourceHostName)
            .Labels(labels => labels.Rotation(-90))
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis.Numeric()
            .Labels(labels => labels.Format("{0:N0}"))
            //.MajorUnit(10000)
            .Line(line => line.Visible(false))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0:N0}")
        ).Deferred()
                    )

                </p>
            </div>
        </div>
    </div>



}

@if (Model != null)
{

    <div class="col-lg-12">
        <div class="hpanel hblue">
            <div class="panel-heading">
                <p class="text-center">
                    Ping locations and distances
                </p>
            </div>
            <div class="panel-body">
                <p>
                    <div id="map" style="width:100px;height: 10px"></div>
                </p>
            </div>
        </div>
    </div>

}
@if (Model != null)
{
    <div class="col-lg-12">
        <div class="hpanel horange">
            <div class="panel-heading">
                <p class="text-center">
                    Permalink
                </p>
            </div>
            <div class="panel-body">
                <p class="text-center">
                    <a href="@(Request.Url.ToString())" id="permalink">@(Request.Url.ToString())</a>
                    @*<input type="text" class="form-control" id="permalink" value="@(Request.Url.ToString())" readonly>*@
                </p>
                <p class="text-center" style="font-size:larger">
                    Share on:
                </p>
                <p class="text-center" style="font-size:xx-large">

                    @*<a href="#" target="_blank"><i class="fa fa-facebook-square" title="Share on Facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter-square" title="Share on Twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-google-plus-square" title="Share on Google+"></i></a>*@
                    <a href="javascript:void(0)">
                        <i class="fa fa-envelope-square" title="Send email" id="iconSendEmail"
                           data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
                    </a>
                    <a href="javascript:void(0)">
                        <i class="fa fa-pencil-square collapsed" title="Copy to clipboard"
                           data-clipboard-action="copy" data-clipboard-target="#permalink"></i>
                    </a>
                </p>

                <div class="collapse" id="collapseExample" aria-expanded="true">
                    <div class="panel-heading hbuilt">
                        <div class="p-xs">
                            <form method="get" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label text-left" for="senderName">To:</label>
                                    <div class="col-sm-11"><input type="text" class="k-textbox" placeholder="example@email.com" id="senderName"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label text-left" for="senderMail">Cc:</label>
                                    <div class="col-sm-11"><input type="text" class="k-textbox" id="senderMail"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label text-left" for="subject">Subject:</label>
                                    <div class="col-sm-11"><input type="text" class="k-textbox" placeholder="Enter Email subject" id="subject"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label text-left">Body:</label>
                                    <div class="col-sm-11">@Html.Kendo().Editor().Name("emailBody").Tools(t => t.Clear()).Deferred()</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label text-left" for="subject">&nbsp;</label>
                                    <div class="col-sm-11">
                                        <button class="btn btn-info btn-sm" id="btnSend">Send email</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@section scripts {
    <script>
        $(window).ready(function myfunction() {
            // Toastr options
            toastr.options = {
                "debug": false,
                "newestOnTop": false,
                "positionClass": "toast-top-center",
                "closeButton": true,
                "toastClass": "animated fadeInDown",
            };
            $('#btnSend').click(function (e) {
                toastr.success('Success - Email was successfully sent.');
                e.preventDefault();
                $("#iconSendEmail").click();
            });
        });

    </script>

    @if (Model != null)
    {
        <script>
            var permalinkId = '@Model.Id';

            $.ajax({
                method: "POST",
                url: "/home/googlemapfromips",
                data: { permalinkId: permalinkId },
                success: function f(gmData) {
                    $("#map").height("300px");
                    eval(gmData);
                }
            });
        </script>
    }
    <script src="~/Scripts/viewsJS/pingIndex.js"></script>

}

@*history*@

<div class="col-lg-12">
    <div class="hpanel hviolet">
        <div class="panel-heading">
            <p class="text-center">
                Ping history for current user's IP
            </p>
        </div>
        <div class="panel-body">
            <p>
                @(Html.Kendo().Grid<PingPermalinkViewModel>().CreatePingPermalinkGrid(Url))
            </p>

        </div>
    </div>
</div>

@if (Model != null)
{
    <script>
        function getRequestedAddress() {
            var data =
            {
                address: $("#ip").val()
            };
            return data;
        }
    </script>
    <div class="col-lg-12">
        <div class="hpanel hviolet">
            <div class="panel-heading">
                <p class="text-center">
                    Ping history for @(Model.DestinationAddress)
                </p>
            </div>
            <div class="panel-body">
                <p>
                    @(Html.Kendo().Grid<PingPermalinkViewModel>().CreatePingPermalinkGrid(Url, "getRequestedAddress"))
                </p>

            </div>
        </div>
    </div>
}

<div class="normalheader transition animated fadeIn">

</div>