@model PingPermalinkViewModel
<script type="text/javascript">
    function pingReadParameterMap(data, type) {
        debugger;

        return {
            ip: $("#ip").val(),
            packetsCount: $("#tbPacketsCount").val(),
            packetsSize: $("#tbPacketsSize").val(),
            delayBetweenPings: $("#tbDelayBetweenPings").val(),
            ttl: $("#tbTTL").val(),
            df: $('#cbDontFragment').is(':checked')
        }

    }
</script>
<div class="well">
    <div class="k-block k-info-colored"><label class="control-label" for="ip">Enter IPv4, host name or IPv6 address to ping</label></div>
    <span class="k-textbox k-space-right" style="width: 100%;">
        <input type="text" id="ip" class="k-textbox" value="@(Model?.Ip)">
        <a href="javascript:void(0)" id="btnPing" class="k-icon k-i-search">&nbsp;</a>
    </span>
</div>
<div class="well">
    @(Html.Kendo().Grid<PingResponseSummaryViewModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.MaxRtt);
                    columns.Bound(c => c.MinRtt);
                    columns.Bound(t => t.AvgRtt);
                })
                .Scrollable(s => s.Enabled(false))
                .ToolBar(t =>
                {
                    t.Excel().Text(string.Empty);
                    t.Pdf().Text(string.Empty);
                })
                .Excel(e => e.FileName("pingExport(www.toolsfornet.com).xlsx"))
                .Pdf(e => e.AllPages().FileName("pingExport(www.toolsfornet.com).pdf"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                    .Read(read => read.Action("Read", "Ping").Data("pingReadParameterMap"))

                ).BindTo(Model?.PingResponseSummaries).Deferred()

    )
</div>
<div class="well">
    <div id="map" style="width:100px;height: 10px"></div>
</div>

@section scripts {
@if (Model != null)
{
    <script>
        var ips = [];
        ips[0] = '@Model.Ip';
        ips[1] = '@Model.PingResponseSummaries[0].SourceAddress';

        $.ajax({
            method: "POST",
            url: "/home/googlemapfromips",
            data: { ips: ips },
            success: function f(gmData) {
                $("#map").height("300px");
                eval(gmData);
            }
        });
    </script>
    }


@if (Model != null)
{
    <div class="well" id="divPingPermalink">
        Permalink to this ping tests:
        @(
        Html.Kendo().TextBox().Name("tbPingPermalink").Value(Request.Url.ToString()).HtmlAttributes(new { style = "width: 100%;" }).Deferred()
        )
    </div>
}


<script type="text/javascript">

    $("#btnPing").click(function btnPingClick(e) {
        e.preventDefault();

        $.ajax({
            method: "POST",
            url: "/ping/GenerateId",
            data: {
                ip: $("#ip").val(),
                packetsCount: $("#tbPacketsCount").val(),
                packetsSize: $("#tbPacketsSize").val(),
                delayBetweenPings: $("#tbDelayBetweenPings").val(),
                ttl: $("#tbTTL").val(),
                df: $('#cbDontFragment').is(':checked')
            },
            success: function f(id) {
                window.location.href = "ping?id=" + id;

            }
        })
        
    });
    $("#ip").keyup(function myfunction(eventData) {
        if (eventData.keyCode == 13) {
            $("#btnPing").click();
        }

    });

</script>
    }
