@model EmailFormModel
@{
    ViewBag.Title = "EmailCompose";
}
<div class="col-lg-12">
    <div class="hpanel hgreen">
        <div class="panel-body">
            <p>
                <input type="text" class="form-control" id="recName" value="@(Model.ToName != null ? Model.ToName = "" )" placeholder="Recipient Name: ">
            </p>
            <p>
                <input type="text" class="form-control" id="recMail" value="@(Model.ToEmail != null ? Model.ToEmail = "" )" placeholder="Recipient E-Mail: ">
            </p>
            <p>
                <input type="text" class="form-control" id="msg" value="@(Model.Message != null ? Model.Message = "" )" placeholder="Enter Message here: ">
            </p>
            <p>
                <button type="button" class="ladda-button btn center-block btn-outline btn-success" id="btnSendMail" data-style="zoom-in">
                    <span class="ladda-label">Send E-Mail</span>
                    <span class="ladda-spinner"></span>
                </button>

            </p>
        </div>
    </div>
</div>

@section scripts {
    @if (Model != null)
    {
        <script>
            var ips = [];
            ips[0] = '@Model.ToEmail';
            ips[1] = '@Model.ToName';
            ips[2] = '@Model.Message';

            $.ajax({
                method: "POST",
                url: "/home/googlemapfromips",
                data: { ips: ips },
                success: function f(gmData) {
                    $("#map").height("300px");
                    eval(gmData);
                }
            });
        </script>
    }
    <script type="text/javascript">

        $("#btnSendMail").click(function btnSendMailClick(e) {
            e.preventDefault();

            var l = $("#btnSendMail").ladda();

            // Start sending mail
            l.ladda('start');

            $.ajax({
                method: "POST",
                url: "/emailcompose/sendmail",
                data: {
                    recName : $("#recName").val(),
                    recEmail : $("#recMail").val(),
                    msg : $("#msg").val()
                },
                success: function f(id) {
                    window.location.href = "btnSendMail?id=" + id;
                }
            })

        });
        $("#toName").keyup(function myfunction(eventData) {
            if (eventData.keyCode == 13) {
                $("#btnSendMail").click();
            }

        });

    </script>
}
<div class="normalheader transition animated fadeIn">

</div>