@model AddressViewModel
<script id="templateDummy" type="text/x-kendo-template">
   <span>test</span>
</script>
<style>
    .k-nodata
    {
        display:none !important;
    }
   
</style>
<script>
    
    function dataBound(d) {
       
        var total = d.sender.dataSource.total();
        if (total == 0)
        {
            $("#ip-list").parent().hide();
        }
        else
        {
            $("#ip-list").parent().show();
        }

    }
</script>
<div>
    <div class="hpanel hgreen">
        <div class="panel-heading">
            <p class="text-center">
                @Model.PanelTitle
            </p>

        </div>
        <div class="panel-body">
            @if (Model.ShowAddressTextBox)
            {
                <p>
                    @(Html.Kendo().AutoComplete()
                    .Name("ip")
                    .DataTextField("Name")
                    .MinLength(1)
                    .HtmlAttributes(new { style = "width:100%;", placeholder = !string.IsNullOrEmpty(Model.PlaceholderText) ? Model.PlaceholderText : string.Empty })
                    .Value(Model?.DefaultDestinationAddress)
                    .Filter("contains")
                    .IgnoreCase(true)
                    .Animation(false)
                    .Delay(1)
                    //.NoDataTemplateId("templateDummy")
                    .DataSource(source => source

                    //.Group(g => g.Add("Category", typeof(string)))


                    .Read(read =>
                    {
                        var action = Model.Action != null ? Model.Action : "ReadAddressesToPing";
                        var controller = Model.Controller != null ? Model.Controller : "Ping";
                        read.Action(action, controller).Data("onAdditionalData");

                        ;
                    })
                             .ServerFiltering(false)
                    )



                .Events(a => a.DataBound("dataBound")) // Защото noDataTemplate не работи
                .Deferred()
                    )

                </p>
                <script>
                    function onAdditionalData() {
                     
        return {
            text: $("#ip").val()
        };
    }
                </script>
            }
            @if (Model.ShowSaveInHistory)
            {
                <p class="text-center">
                    <input type="checkbox" id="showInHistory" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" title="Leave this checked if you want your request to be visible later." for="showInHistory">Save in history</label>
                </p>
                    <p class="text-center">
                        @if (Model.OnlyWellknownPorts.GetValueOrDefault())
                        {
                            @*<input type="checkbox" id="wellKnownPorts" class="k-checkbox" checked="checked">
                                <label class="k-checkbox-label" title="Only @(Utils.WellKnownPorts.Count) wellknown ports will be scanned, instead of all 65535 ports."
                                       for="wellKnownPorts"><a href="#wnp">Wellknown ports</a>only (recommended)</label>*@


                            <input type="radio" name="port" id="wellKnown1000" class="k-radio" checked="checked">
                            <label class="k-radio-label" for="wellKnown1000">Top 1000 Wellknown ports only (fastest)</label>

                            <input type="radio" name="port" id="wellKnown" class="k-radio">
                            <label class="k-radio-label" for="wellKnown">All Wellknown ports only (fast)</label>

                                @*<input type="radio" name="port" id="allPorts" class="k-radio">
                                <label class="k-radio-label" for="allPorts">All ports (slow)</label>*@


                        }
                    </p>
            }

            <p>

                <button type="button" class="ladda-button btn center-block btn-outline btn-success" id="@Model.ButtonId" data-style="zoom-in">
                    <span class="ladda-label">@Model.ButtonText</span>
                    <span class="ladda-spinner"></span>
                </button>
            </p>
            <p>
                @(Html.Kendo().ProgressBar()
                .Name("loadingProgressBar")
                .Orientation(ProgressBarOrientation.Horizontal)
                .ShowStatus(true)
                .Animation(false)
                .HtmlAttributes(new { style = "display:none;width:100%" })
                .Deferred()
                )
            </p>
        </div>
    </div>
</div>