    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @*@{ Html.RenderPartial("_CurrentUser"); }*@
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("Home", "active")">
                <a href="/home" title="Go back to home page."><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
            </li>
            <li class="@Html.RouteIf("Ping", "active")">
                <a href="/ping" title="Test the reachability of a host on an Internet Protocol (IP) network and measure the round-trip time for messages sent from the originating host to a destination computer and back."><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Ping</span></a>
            </li>
            <li class="@Html.RouteIf("Traceroute", "active")">
                <a href="/traceroute" title="Display the route (path) and measure transit delays of packets across an Internet Protocol (IP) network."><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Traceroute</span></a>
            </li>
            <li class="@Html.RouteIf("Speedtest", "active")">
                <a href="/speedtest" title="Measure download/upload speed"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Upload/Download speed</span></a>
            </li>
            @*<li class="@Html.RouteIf("Whois", "active")">
                <a href="/Whois" title="Query databases that store the registered users or assignees of an Internet resource, such as a domain name, an IP address block, or an autonomous system."><i class="fa fa-lg fa-fw fa-rss"></i> <span class="menu-item-parent">Whois</span></a>
            </li>
            <li class="@Html.RouteIf("Dns", "active")">
                <a href="/Dns" title="Determine an IP address associated with a domain name."><i class="fa fa-lg fa-fw fa-level-down"></i> <span class="menu-item-parent">DNS lookup</span></a>
            </li>
            <li class="@Html.RouteIf("ReverseDns", "active")">
                <a href="/ReverseDns" title="Determine a domain name associated with an IP address."><i class="fa fa-lg fa-fw fa-level-up"></i> <span class="menu-item-parent">Reverse DNS lookup</span></a>
            </li>
            <li class="@Html.RouteIf("MyIp", "active")">
                <a href="/MyIp" title="Information about your current IP."><i class="fa fa-lg fa-fw fa-angle-double-down"></i> <span class="menu-item-parent">My IP</span></a>
            </li>*@
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->