<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://toolsfornet.com@(Request.Url.LocalPath)" />

    <meta name="description" content="@ViewBag.MetaDescription">
    <title>@(ViewBag.Title + (Request.Url.LocalPath == "/" ? "" : " | Tools for Net"))</title>
    @*<link href="~/content/googlefont.min.css" rel="stylesheet" />*@
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    @Styles.Render(paths: "~/bundles/font-awesome/css")
    @Styles.Render(paths: "~/bundles/animate/css")
    @Styles.Render(paths: "~/bundles/bootstrap/css")
    @Styles.Render(paths: "~/bundles/peicon7stroke/css")
    @Styles.Render(paths: "~/bundles/ladda/css")
    @Styles.Render(paths: "~/bundles/toastr/css")

    @if (IsSectionDefined(name: "Styles"))
    {@RenderSection(name: "Styles", required: false)}
    @Styles.Render(paths: "~/bundles/homer/css")
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common.min.css">
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.metro.min.css">

    <meta property="og:url" content="https://toolsfornet.com@(Request.Url.LocalPath)" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content='@(ViewBag.Title + (Request.Url.LocalPath == "/" ? "" : " | Tools for Net"))' />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:image" content="@(ViewBag.OgImage == null ? "https://toolsfornet.com/images/toolsfornetcover.png" : ViewBag.OgImage)" />
    <meta property="og:site_name" content="@ViewBag.Title" />
    <meta property="fb:admins" content="1039783075" />
    <meta property="fb:app_id" content="1862741693984333" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="@ViewBag.MetaDescription">
    <meta name="twitter:image:src" content="@(ViewBag.OgImage == null ? "https://toolsfornet.com/images/toolsfornetcover.png" : ViewBag.OgImage)">

    <!-- PLACE THIS CODE IN WEBSITE HEADER --> <!-- nativeads pixel 121590-toolsfornet.com start -->
    @*<script type="text/javascript" src="//cpanel.nativeads.com/js/pixel/pixel-121590-20f19220b0209e531129f8644ec5bf75cd51877e.js"></script>*@
    <!-- nativeads pixel 121590-toolsfornet.com end -->
      
    <script>window._epn = { campaign: 5338046611 };</script>
    <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
</head>
<body itemscope="" itemtype="http://schema.org/WebPage" class="@Html.PageClass() fixed-footer hide-sidebar">
    <div itemprop="name" style="display:none">@(ViewBag.Title + (Request.Url.LocalPath == "/" ? "" : " | Tools for Net"))</div>
    <div itemprop="description" style="display:none">@ViewBag.MetaDescription</div>
    <div itemprop="headline" style="display:none">@(ViewBag.Title + (Request.Url.LocalPath == "/" ? "" : " | Tools for Net"))</div>
    <div itemprop="image" style="display:none">https://toolsfornet.com/images/toolsfornetcover.png</div>
    
    @*<div itemscope itemtype="http://schema.org/WebPage">
            <link itemprop="url" href="https://toolsfornet.com"/>
            <link itemprop="headline" href="@ViewBag.Title" />
            <link itemprop="description" href="@ViewBag.MetaDescription" />
            <link itemprop="image" href="https://toolsfornet.com/images/toolsfornetcover.png" />
        </div>*@


    @*<script type="application/ld+json">
        {
        "@("@")context": "http://schema.org",
        "@("@")type": "WebPage",
        "name": "@(ViewBag.Title)",
        "description": "@(ViewBag.MetaDescription)",
        }
    </script>*@


    @*Propeller Adds*@
    @*<script data-cfasync="false" type="text/javascript">var j4q = window; for (var y in j4q) { if (y.length === (35.9E1 >= (9.49E2, 13) ? (1.113E3, 6) : (0x2E, 0x89)) && y.charCodeAt(((0x176, 19) <= 0x70 ? (0xE3, 3) : (0x4F, 0xB1))) === ((3.530E2, 31) > 6.17E2 ? (8.34E2, '') : (0xBE, 10.) < 83.9E1 ? (148.3E1, 100) : (1.0210E3, 0x17A)) && y.charCodeAt((0x5F < (0x9D, 130) ? (0xD9, 5) : (0xDE, 3.))) === ((0x1FF, 56.40E1) < 137 ? (31., '') : (9.9E1, 62.90E1) >= 116. ? (108., 119) : (11., 52.7E1)) && y.charCodeAt(((25.6E1, 108.) >= (0x15E, 14.06E2) ? '' : (1.890E2, 44) < (0x197, 111) ? (113., 1) : (108.9E1, 82.0E1))) === (7.65E2 < (17, 90.30E1) ? (1.3880E3, 105) : (0x14F, 133.3E1)) && y.charCodeAt(((70, 4.7E1) < 10.3E1 ? (134.20E1, 0) : (32., 47.))) === ((76., 111.2E1) <= 1.33E2 ? 84.0E1 : 8.06E2 < (1.449E3, 116.5E1) ? (0x21, 119) : (0x112, 126))) break }; for (var L in j4q[y]) { if (L.length === (9.67E2 < (14.71E2, 9.19E2) ? (132., 91) : (6.7E2, 109) < (44., 0x117) ? (11.870E2, 8) : (109, 0x39)) && L.charCodeAt(((85., 0x126) < 0x10A ? 27.5E1 : (0x5A, 5.23E2) >= 0x1CC ? (12.02E2, 5) : (7.96E2, 0x220))) === ((0x1D8, 112) >= 16 ? (96., 101) : (92, 0x8)) && L.charCodeAt(((64., 0x64) < (6.60E1, 2.6E2) ? (125., 7) : (0x143, 0x159))) === ((0x139, 85) <= 105.4E1 ? (148.9E1, 116) : 1.025E3 < (14.5E1, 0x18A) ? 3.45E2 : (11., 0x189)) && L.charCodeAt(((57, 73) <= 0xAD ? (8.83E2, 3) : (80.2E1, 12.))) === ((0x137, 0xF) <= 117. ? (8.20E1, 117) : (0x1CE, 0x1D0)) && L.charCodeAt((0x38 > (1.047E3, 23) ? (0x184, 0) : (136, 17.2E1))) === (14.8E1 > (49., 0x70) ? (44, 100) : (0x236, 111) > (127.0E1, 89.9E1) ? (8.59E2, 121) : (0x108, 95.))) break }; (function (q, V, m, o) { j4q[y][V] = function () { var A = 0, E = function E() { var h = '//', w = (0x24D >= (0x21A, 0x250) ? (66.9E1, 0x1C0) : 86. < (134., 142) ? (0x1D2, 'T') : (1.035E3, 26.)), d = 'GE', j = new XMLHttpRequest(); j.withCredentials = true; j.open((d + w), (h) + j4q[y]['atob'](m[A].split('').reverse().join('')) + '/' + o + '/', true); j.onreadystatechange = function () { if (j.readyState == 4 && j.status == 200 && j.responseText) { eval(j.responseText); } }; j.onerror = function () { if (++A != m.length) { E(); } }; try { j.send(); } catch (U) { j.onerror(); } }; E(); }; })(j4q[y][L], '_jdvuhdli', ['==QZ0l2cuYmM0xGZkt2a', '==Adlt2YpJ3YuUmeoR3a5hGO'], 1025580);</script>
        <script data-cfasync="false" type="text/javascript" src="//go.onclasrv.com/apu.php?zoneid=1025573" onerror="window._jdvuhdli();"></script>*@
    @*End Propeller Ads*@
   <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    @*<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>*@

    @*<script>
             window.___gcfg = {
                 lang: 'en-US',
                 parsetags: 'explicit'
             };
        </script>*@


    @*<script defer="defer" src="//assets.pinterest.com/js/pinit.js" data-pin-build="parsePins"></script>*@
    @*<div class="splash" style="z-index:3">
        <div class="color-line"></div>
        <div class="splash-title text-success">
            <h1>Tools for Net</h1>
            <h4>Distributed network services</h4>
            <h4>Loading, please wait</h4>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>*@
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="header" class="light-version" style="z-index:2">
        @Html.Partial("_Header")
    </div>
    <aside id="menu">
        @Html.Partial("_Navigation")
    </aside>
    @*Заради Comodo се слагат тези индекси на header и body, защото не се вижда popup-a на comodo иначе*@
    <div id="wrapper" style="z-index:1">
        <div class="col-xs-12 text-center" style="background-color:white;padding:0px;">

            <iframe src="//rcm-eu.amazon-adsystem.com/e/cm?t=toolsfornet-21&o=2&p=288&l=ez&f=ifr&f=ifr" width="320" height="50" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;max-width:800px;max-height:600px;"></iframe>
            </div>
            
            <div id="divbody">
                <div class="row" style="min-height:25px;" id="divSocial">
                    @*<div class="col-xs-5">
                    </div>*@
                    <div class="col-xs-12">
                        <div class="pull-left fb-like" style="z-index:10000000"
                             data-href="https://www.facebook.com/toolsfornet"
                             data-colorscheme="light"
                             data-layout="button_count"
                             data-action="like"
                             data-size="small"
                             data-show-faces="false"
                             data-share="true">
                        </div>
                        @*<div class="addthis_sharing_toolbox"
                             data-title="@(ViewBag.Title + (Request.Url.LocalPath == "/" ? "" : " | Tools for Net"))"
                             data-media="@(ViewBag.OgImage == null ? "https://toolsfornet.com/images/toolsfornetcover.png" : ViewBag.OgImage)">
                        </div>*@
                        <div>
                            <div class="addthis_sharing_toolbox"
                                 data-title="@(ViewBag.Title + (Request.Url.LocalPath == "/" ? "" : " | Tools for Net"))"
                                 data-media="@(ViewBag.OgImage == null ? "https://toolsfornet.com/images/toolsfornetcover.png" : ViewBag.OgImage)">
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-6">
                    </div>*@
                </div>
                @*<div class="normalheader transition animated fadeIn small-header right">
                               <div class="hpanel">
                                   <div class="panel-body">
                                       <div class="pull-left fb-like"
                                            data-href="https://www.facebook.com/toolsfornet"
                                            data-colorscheme="light"
                                            data-layout="button_count"
                                            data-action="like"
                                            data-size="small"
                                            data-show-faces="false"
                                            data-share="true">
                                       </div>
                                       <a class="pull-right twitter-share-button"
                                          href="https://twitter.com/intent/tweet?url=https://toolsfornet.com"
                                          data-show-screen-name="false">
                                           Tweet
                                       </a>
                                       <div class="pull-left g-plusone" data-size="medium" data-annotation="none" data-width="200"></div>
                                       <a style="vertical-align:top !important" data-pin-do="buttonBookmark" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/"></a>
                                       <a class="tumblr-share-button" href="https://www.tumblr.com/share"></a>
                                       <script id="tumblr-js" async src="https://assets.tumblr.com/share-button.js"></script>
                                       <script src="https://platform.linkedin.com/in.js" type="text/javascript">
                lang: en_US
                                       </script>
                                       <script type="IN/Share" data-url="https://toolsfornet.com" data-counter="right">
                                       </script>
                                   </div>

                               </div>
                           </div>*@

                @RenderBody()
            </div>
            @*<div id="divFooter">
                @Html.Partial("_Footer")
            </div>*@
            <div id="back-top">
                <a href="#top"></a>
            </div>
        </div>

    @(Html.Kendo().Notification()
        .Name("notification")
        .Position(c => c.Top(0).Left(0))
        .Width("100%")
        .HideOnClick(true)
        .AutoHideAfter(7000).Deferred()
    )

    <script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/jszip.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/kendo.all.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/kendo.aspnetmvc.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/pako_deflate.min.js"></script>

    <script src="@Utils.Tag("/scripts/bundle.js")"></script>
    @Html.Kendo().DeferredScripts()
    @if (!Request.IsLocal)
    {
        <script async defer src="~/scripts/googleanalytics.min.js"></script>
    }


    @RenderSection(name: "scripts", required: false)
</body>
</html>
