<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.MetaDescription">
    <title>Tools for Net @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoER6oaWJAUFMNCCE8IkCGsIyHsbTE0Zw"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    @*<link rel="shortcut icon" href="favicon.ico">*@
    <!-- Primary vendor style -->
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/ladda/css")
    @Styles.Render("~/bundles/toastr/css")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOMER style -->
    @Styles.Render("~/bundles/homer/css")

    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.226/styles/kendo.common.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.226/styles/kendo.silver.min.css">
</head>
<body class="@Html.PageClass() fixed-footer">
    <script src="~/Scripts/googleAnalytics.js"></script>
    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title">
            <h1>Tools for Net - Distributed network services</h1>
            <p>Loading ... Please wait</p>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        @Html.Partial("_Header")
    </div>

    <!-- Navigation -->
    <aside id="menu">
        @Html.Partial("_Navigation")
    </aside>

    <!-- Main view  -->
    <div id="wrapper">
        @RenderBody()
        <!-- Footer-->
        @Html.Partial("_Footer")
    </div>

    <!-- Section for main scripts render -->
    @*@Scripts.Render("~/bundles/jquery/js")*@
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/homer/js")
    @Scripts.Render("~/bundles/ladda/js")
    @Scripts.Render("~/bundles/toastr/js")
    <script src="http://kendo.cdn.telerik.com/2016.1.226/js/jszip.min.js"></script>


    <script src="http://kendo.cdn.telerik.com/2016.1.226/js/kendo.all.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2016.1.226/js/kendo.aspnetmvc.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2016.1.226/js/pako_deflate.min.js"></script>



    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)

    @Html.Kendo().DeferredScripts()
    <script src="~/Scripts/clipboard/clipboard.min.js"></script>
    <script src="~/Scripts/yk.js"></script>
</body>
</html>
