<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.MetaDescription">
    <title>@(ViewBag.Title + (Request.Url.LocalPath == "/" ? "" : " | Tools for Net"))</title>
    @*<link href="~/content/googlefont.min.css" rel="stylesheet" />*@
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    @Styles.Render(paths: "~/bundles/font-awesome/css")
    @Styles.Render(paths: "~/bundles/animate/css")
    @Styles.Render(paths: "~/bundles/bootstrap/css")
    @Styles.Render(paths: "~/bundles/peicon7stroke/css")
    @Styles.Render(paths: "~/bundles/ladda/css")
    @Styles.Render(paths: "~/bundles/toastr/css")

    @if (IsSectionDefined(name: "Styles"))
    {@RenderSection(name: "Styles", required: false)}
    @Styles.Render(paths: "~/bundles/homer/css")
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common.min.css">
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.metro.min.css">  
    <meta property="og:url" content="https://toolsfornet.com@(Request.Url.LocalPath)" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content='@(ViewBag.Title + (Request.Url.LocalPath == "/" ? "" : " | Tools for Net"))' />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:image" content="https://toolsfornet.com/favicon.ico" /> 
</head>
<body class="@Html.PageClass() fixed-footer hide-sidebar">
    <script type="text/javascript" src="//go.oclasrv.com/apu.php?zoneid=1025573"></script>
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="splash" style="z-index:3">
        <div class="color-line"></div>
        <div class="splash-title text-success">
            <p>
                <h1>Tools for Net</h1>
            </p>
            <p>
                <h4>Distributed network services</h4>
            </p>
            <p>
                <h4>Loading, please wait</h4>
            </p>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="header" class="light-version" style="z-index:2">
        @Html.Partial("_Header")
    </div>
    <aside id="menu">
        @Html.Partial("_Navigation")
    </aside>
    @*Заради Comodo се слагат тези индекси на header и body, защото не се вижда popup-a на comodo иначе*@
    <div id="wrapper" style="z-index:1">

        <div id="divbody">
            <div class="normalheader transition animated fadeIn small-header right">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="pull-right fb-like"
                             data-href="https://www.facebook.com/toolsfornet"
                             data-colorscheme="light"
                             data-layout="button_count"
                             data-action="like"
                             data-size="small"
                             data-show-faces="false"
                             data-share="true"></div>
                       
                    </div>
                </div>
            </div>

            @RenderBody()
        </div>
        <div id="divFooter">
            @Html.Partial("_Footer")
        </div>
        <div id="back-top">
            <a href="#top"></a>
        </div>
    </div>

    @(Html.Kendo().Notification()
        .Name("notification")
        .Position(c => c.Top(0).Left(0))
        .Width("100%")
        .HideOnClick(true)
        .AutoHideAfter(7000).Deferred()
    )

    <script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/jszip.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/kendo.all.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/kendo.aspnetmvc.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/pako_deflate.min.js"></script>

    <script src="@Utils.Tag("/scripts/bundle.js")"></script>
    @Html.Kendo().DeferredScripts()
    <script async defer src="~/scripts/googleanalytics.min.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoER6oaWJAUFMNCCE8IkCGsIyHsbTE0Zw"></script>
    @RenderSection(name: "scripts", required: false)
</body>
</html>
