<div id="navigation">
    <div class="profile-picture">
        <a id="aUserHostAddress">
            <p id="pUserHostAddress"></p>
        </a>
    </div>
    <ul class="nav metismenu" id="side-menu">
        <li class="@Html.IsSelected(controller: "home")">
            <a href="@Url.Action("Index", "Home")" title="Home">
                <span class="text-success pull-left"><i class="pe-7s-home" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Home</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "ping")">
            <a href="@Url.Action("Index", "Ping")" title="Ping">
                <span class="text-success pull-left"><i class="pe-7s-sun" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Ping</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "traceroute")">
            <a href="@Url.Action("Index", "TraceRoute")" title="TraceRoute">
                <span class="text-success pull-left"><i class="pe-7s-science" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Traceroute</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "portscan")">
            <a href="@Url.Action("Index", "Portscan")" title="Port scan">
                <span class="text-success pull-left"><i class="pe-7s-search" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Port scan</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "barcode")">
            <a href="@Url.Action("Index", "barcode")" title="Barcode generation">
                <span class="text-success pull-left"><i class="fa fa-barcode" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Barcode generation</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "word")">
            <a href="@Url.Action("Index", "word")" title="Words processing">
                <span class="text-success pull-left"><i class="fa fa-file-word-o" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Words processing</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "spread")">
            <a href="@Url.Action("Index", "spread")" title="Spread processing">
                <span class="text-success pull-left"><i class="fa fa-file-excel-o" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Spread processing</span>
            </a>
        </li>
        @*<li class="@Html.IsSelected(controller: "css")">
            <a href="@Url.Action("Index", "css")" title="CSS processing">
                <span class="text-success pull-left"><i class="fa fa-file-excel-o" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">CSS processing</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "js")">
            <a href="@Url.Action("Index", "js")" title="JavaScript processing">
                <span class="text-success pull-left"><i class="fa fa-code" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">JavaScript processing</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "html")">
            <a href="@Url.Action("Index", "html")" title="Html processing">
                <span class="text-success pull-left"><i class="fa fa-html5" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Html processing</span>
            </a>
        </li>*@
        <li class="@Html.IsSelected(controller: "iplocation")">
            <a href="@Url.Action("Index", "iplocation")" title="IP location">
                <span class="text-success pull-left"><i class="pe-7s-map-marker" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">IP location</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "faq")">
            <a href="@Url.Action("Index", "Faq")" title="FAQs">
                <span class="text-success pull-left"><i class="pe-7s-chat" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">FAQs</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "contactus")">
            <a href="@Url.Action("Index", "ContactUs")" title="Contact Us">
                <span class="text-success pull-left"><i class="pe-7s-mail" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Contact Us</span>
            </a>
        </li>
        @*Това не трябва да се вижда. Ще се достъпва само директно по URL*@
        @*<li class="@Html.IsSelected(action: "Index")">
        <a href="@Url.Action("Index", "ErrorLogging")" title="Errors">
        <span class="text-success pull-left"><i class="pe-7s-mail" style="font-size:large"></i></span>&nbsp;
        <span class="nav-label">Errors</span>
        </a>
        </li>*@
    </ul>
</div>

