<div id="navigation">
    <ul class="nav metismenu" id="side-menu">
        <li class="@Html.IsSelected(action: "Index")">
            <a href="@Url.Action("Index", "Home")" title="Home">
                <span class="text-success pull-left"><i class="pe-7s-home" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Home</span>
            </a>
        </li>
        <li class="@Html.IsSelected(action: "Index")">
            <a href="@Url.Action("Index", "Ping")" title="Ping">
                <span class="text-success pull-left"><i class="pe-7s-sun" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Ping</span>
            </a>
        </li>
        @*<li class="@Html.IsSelected(action: "Index")">
            <a href="javascript:void()">
                <span class="text-success pull-left"><i class="pe-7s-science" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">TraceRoute</span>
            </a>
        </li>*@
        <li class="@Html.IsSelected(action: "Index")">
            <a href="@Url.Action("Index", "Faq")" title="FAQs">
                <span class="text-success pull-left"><i class="pe-7s-chat" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">FAQs</span>
            </a>
        </li>
        <li class="@Html.IsSelected(action: "Index")">
            <a href="@Url.Action("Index", "ContactUs")" title="Contact Us">
                <span class="text-success pull-left"><i class="pe-7s-mail" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Contact Us</span>              
            </a>
        </li>
    </ul>
</div>

