<div id="navigation">
    <div class="profile-picture">
        <a href="/">
            Hello @Request.UserHostAddress
        </a>
    </div>
    <ul class="nav metismenu" id="side-menu">
        <li class="@Html.IsSelected(controller: "home")">
            <a href="@Url.Action("Index", "Home")" title="Home">
                <span class="text-success pull-left"><i class="pe-7s-home" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Home</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "ping")">
            <a href="@Url.Action("Index", "Ping")" title="Ping">
                <span class="text-success pull-left"><i class="pe-7s-sun" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Ping</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "traceroute")">
            <a href="@Url.Action("Index", "TraceRoute")" title="TraceRoute">
                <span class="text-success pull-left"><i class="pe-7s-science" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Traceroute</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "portscan")">
            <a href="@Url.Action("Index", "Portscan")" title="Port scan">
                <span class="text-success pull-left"><i class="pe-7s-shuffle" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Port scan</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "speedtest")">
            <a href="@Url.Action("Index", "Speedtest")" title="Speed test">
                <span class="text-success pull-left">
                    <i class="pe-7s-cloud-download" style="font-size:large"></i>
                    <i class="pe-7s-cloud-upload" style="font-size:large;margin-left:-21px"></i>
                </span>&nbsp;
                <span class="nav-label">Speed test</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "faq")">
            <a href="@Url.Action("Index", "Faq")" title="FAQs">
                <span class="text-success pull-left"><i class="pe-7s-chat" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">FAQs</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "contactus")">
            <a href="@Url.Action("Index", "ContactUs")" title="Contact Us">
                <span class="text-success pull-left"><i class="pe-7s-mail" style="font-size:large"></i></span>&nbsp;
                <span class="nav-label">Contact Us</span>
            </a>
        </li>
        @*Това не трябва да се вижда. Ще се достъпва само директно по URL*@
        @*<li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "ErrorLogging")" title="Errors">
                    <span class="text-success pull-left"><i class="pe-7s-mail" style="font-size:large"></i></span>&nbsp;
                    <span class="nav-label">Errors</span>
                </a>
            </li>*@
    </ul>
</div>

